//@format
.l-region--pre-header {
  display: flex;
  justify-content: flex-end;
}

div#block-locale-language-content {
  ul {
    @include menu-base;

    display: flex;
  }
  a {
    //@include button font-family: $roboto-cond;
    color: $black;
    font-size: 0.9rem;
    color: $black;
    font-family: $roboto;
    text-transform: none;
    font-weight: 600;
    &:hover,
    &.active {
      text-decoration: underline;
      color: $udm-blue;
    }
  }
}
