/*
 *sidebar layout and behavior
 */
body:not(.front) .l-main {
    @include xy-grid-container;
}
.has-sidebar .l-main {
    @include xy-grid-container;
    @include breakpoint(large) {
        @include xy-grid;
        .l-content {
            @include xy-cell(9);
            order:2;
        }
        .l-region--sidebar {
            @include xy-cell(3);
            order:1;
            margin-top:rem-calc(80);
        }
    }
}




#Showcase {
    margin-bottom:$global-margin*2;
}
.content {

    margin-bottom:$global-margin*2;
    margin-top:$global-margin*2;
}
.above-footer {

    margin-bottom:$global-margin*2;
}


