//@format
.list-block,
%list-block {
  background: $white;
  padding: $global-padding;
  margin-bottom: $global-margin;
  border-radius: $global-radius;
  &__title {
    padding-bottom: $global-margin/2;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 0;
    color: $primary-color;
  }
  &--list-item {
    border-bottom: 1px solid $medium-gray;
    padding-bottom: $global-margin/4;
    padding-top: $global-margin/4;
    a {
      color: $stfx-gold;
      font-size: 1em;
      font-size: rem-calc(16);
      line-height: 0.8;
      //font-family: $roboto-cond;
    }
  }
}

//the good the bad and the fugly
.list-block .block__title {
  @extend %list-block__title;
}
