//@format

.page-islandora-search .block--islandora-solr-simple {
    width: 400px;
}
//hiding stuff --- this should be temporary
.block--islandora-solr-current-query {
    .block__title {
        display: none;
    }
    .islandora-solr-query-wrap {
        display: none;
    }
}
.islandora-solr-filter-wrap {
    h3 {
        float: left;
        @extend h5;
        margin-right: $global-margin/2;
        &:after {
            content: ':';
        }
    }
}
.filter-list {
    @extend .button-group;
    .remove-filter {
        @include button;

        &.notequal {
            @include button-style($orange, auto, auto);
        }

        border-radius: 10px;
        padding: 5px;
        margin-right: 2px;
    }
    @include menu-base;
    a {
        display: inline;
        padding: 0px;
    }
}

.search-facets,
%search-facets {
    margin-right: $global-margin;
    margin-bottom: $global-margin;
    .is-dropdown-submenu {
        //display: block !important;
    }
    a.button {
        //@extend .hollow;
        &:hover {
            background: #efffd8;
            //outline: 1px solid $green;
        }
    }
    &__block {
    }
    &__block-title {
        /*blah*/
    }
    &__facet {
        //@include callout;
        border-bottom: 1px dotted #ccc;
        margin-bottom: $global-margin;
        ul {
            /*margin:0;*/
            padding: 0;
            /*padding: 10px;*/
            //background:$orange-lighter;
            //background: #efffd8;
            a {
                padding: 0;
            }
            .submenu a {
                display: inline !important;
            }
        }
        //border-bottom:1px solid #ccc;
        //padding: $global-padding/2 0;
    }
    &__facet-title {
        /*color:blue;*/
        /*font-family:$pn-semi-Bold;*/
        font-weight: 100;
    }
    &__filter-button {
        @extend .small;
    }
    &__plus {
        width: 1rem;
    }
    &__minus {
        width: 1rem;
    }
    &__facet-row {
        border: 1px solid #fff;
        border-width: 1px 0;
        &:hover {
            background: #efffd8;
            border-color: #ccc;
        }
    }
}
.date-picker,
%date-picker {
    @extend .input-group;
    &__range-field__label {
        @extend .input-group-label;
        width: 4rem;
    }

    &__range-field__text {
        @extend .input-group-field;
        /*test*/
    }
}
// the good the bad and the fugly
.search-facets .block__title {
    @extend %search-facets__block-title;
}
.search-facets .islandora-solr-facet-wrapper {
    @extend %search-facets__facet;
}
.islandora-solr-facet-wrapper h3 {
    @extend %search-facets__facet-title;
}
.search-facets .form-submit {
    @extend %search-facets__filter-button;
}
.search-facets .plus img {
    @extend %search-facets__plus;
}
.search-facets .minus img {
    @extend %search-facets__minus;
}
.islandora-solr-facet li {
    @extend %search-facets__facet-row;
}

.islandora-solr-date-filter {
    .form-type-textfield {
        @extend %date-picker;
        label {
            @extend %date-picker__range-field__label;
        }
        input {
            @extend %date-picker__range-field__text;
        }
    }
}
//============================================

[aria-label='Date'] .submenu {
    //display: block;
    width: rem-calc(322);
}
#ui-datepicker-div {
    position: static !important;
    font-family: $body-font-family;
    .ui-state-default {
        display: block;
        padding: 0.2em;
    }
    .ui-corner-all {
        border-radius: 0px;
    }
}
