@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,700|PT+Sans:400,400i,700');
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriad/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-BoldCondIt';
    src: url('../fonts/myriad/MyriadPro-BoldCondIt.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-BoldCondIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-BoldIt';
    src: url('../fonts/myriad/MyriadPro-BoldIt.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-BoldIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/myriad/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/myriad/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-It';
    src: url('../fonts/myriad/MyriadPro-It.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-It.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-SemiboldIt';
    src: url('../fonts/myriad/MyriadPro-SemiboldIt.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-SemiboldIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-CondIt';
    src: url('../fonts/myriad/MyriadPro-CondIt.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-CondIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-BoldCond';
    src: url('../fonts/myriad/MyriadPro-BoldCond.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-BoldCond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/myriad/MyriadPro-Cond.woff2') format('woff2'),
        url('../fonts/myriad/MyriadPro-Cond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

