//@format
.lp-blurb {
  border-left: $block-border;
  background: $white;
  padding: $global-padding;
  text-align: center;
  border-radius: $global-radius;
  h2 {
    line-height: rem-calc(50);
  }
  p {
    margin-bottom: 0;
  }

  &.subheader {
    padding-top: $global-padding;
    padding-bottom: $global-padding;
    margin-bottom: $global-margin;
    margin-top: $global-margin;
    color: $black;
  }
  //display:noe;
  text-transform: none;
}
.main-menu {
  font-family: $roboto-cond;
}
