<div class="top-bar grid-container">
    <div class="top-bar-left">
        <small>
            ©2017 copyright info goes here.   
        </small>
    </div>
    <div class="top-bar-right">

        <ul class="menu social-icons">
            <li><img src="//via.placeholder.com/42X42?text=icon"></li>
            <li><img src="//via.placeholder.com/42X42?text=icon"></li>
            <li><img src="//via.placeholder.com/42X42?text=icon"></li>
            <li><img src="//via.placeholder.com/42X42?text=icon"></li>
            <li><img src="//via.placeholder.com/42X42?text=icon"></li>
            <li><img src="//via.placeholder.com/42X42?text=icon"></li>
        </ul>
    </div>
</div>
