<div class="interior-pages grid-container top-bar">
<div class="top-bar-left">
    <!--<h1>Site name and logo</h1>-->
    <!--{{> main-menu }}-->
    {{> banner-logo}}
    <div class="main-menu button-group align-left">
            <a href="{{root}}scholars" class="button">CBU Works</a>
            <a class="button">Theses</a>
            <a class="button">Student Projects</a>
    </div>

</div>
<div class="top-bar-right">

        <!--<div class="input-group">-->
            <!--<input class="input-group-field" type="text">-->
            <!--<div class="input-group-button">-->
                <!--<input type="submit" class="button" value="Submit">-->
            <!--</div>-->
        <!--</div>            [><div class="button-group navbar-menu"><]-->


        <div class="button-group">
            <a class="button">My Lists</a>
            <a class="button">Help</a>
            <a class="button">Contact Us</a>
        </div>
</div>

</div>





