
<div class="list-block call-out">
    <a href="#">
        <h2 class="list-block__title">
            {{title}}
        </h2>
    </a>

    <ul class="list-block__list">
        <li><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</a></li>
        <li><a href="#">Aliquam tincidunt mauris eu risus.</a></li>
        <li><a href="#">Vestibulum auctor dapibus neque.</a></li>
        <li><a href="#">Nunc dignissim risus id metus.</a></li>
        <li><a href="#">Cras ornare tristique elit.</a></li>
        <li><a href="#">Vivamus vestibulum nulla nec ante.</a></li>
        <li><a href="#">Praesent placerat risus quis eros.</a></li>
        <!--<li><a href="#">Fusce pellentesque suscipit nibh.</a></li>-->
        <!--<li><a href="#">Integer vitae libero ac risus egestas placerat.</a></li>-->
        <!--<li><a href="#">Vestibulum commodo felis quis tortor.</a></li>-->
        <!--<li><a href="#">Ut aliquam sollicitudin leo.</a></li>-->
        <!--<li><a href="#">Cras iaculis ultricies nulla.</a></li>-->
        <!--<li><a href="#">Donec quis dui at dolor tempor interdum.</a></li>-->
        <!--<li><a href="#">Vivamus molestie gravida turpis.</a></li>-->
        <!--<li><a href="#">Fusce lobortis lorem at ipsum semper sagittis.</a></li>-->
        <!--<li><a href="#">Nam convallis pellentesque nisl.</a></li>-->
        <!--<li><a href="#">Integer malesuada commodo nulla.</a></li>-->
    </ul>
</div>
