<div id="Showcase">
<div class="inside">
    {{> slideshow }}
    <!--<div class="region-showcase"></div>-->
    <div class="showcase-top">
        <h1 class="site-title">Search <span class='yellow'>Face</span></h1>
        <div class="input-group hero-search">
            <input class="input-group-field" type="number">
            <div class="input-group-button">
                <input type="submit" class="button" value="Submit">
            </div>
        </div>
    </div>
    <div class="showcase-bottom">
        <h3 class="collection-menu__title">
            Browse Collections
        </h3>
        {{> main-menu }}
    </div>
</div>
</div>
