<div class="sidebar">
<h2>Refine Your Search</h2>


<div class="sort button-group">
    <button class="button">Sort by Date</button> <button class="button">Sort by Title</button>
</div>


<section class="block block-islandora-solr clearfix" id="block-islandora-solr-basic-facets">
    <div class="islandora-solr-facet-wrapper">
        <h3>Resource Type</h3>


        <ul class="islandora-solr-facet">
            <li>
                <a href="/" rel="nofollow">Article</a> <span class="count">(13)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>


            <li>
                <a href="/" rel="nofollow">review article</a> <span class="count">(2)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>


            <li>
                <a href="/" rel="nofollow">rebuttal</a> <span class="count">(1)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>
        </ul>
    </div>


    <div class="islandora-solr-facet-wrapper">
        <h3>Collection</h3>


        <ul class="islandora-solr-facet">
            <li>
                <a href="/" rel="nofollow">Faculty Works</a> <span class="count">(32)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>
        </ul>
    </div>


    <div class="islandora-solr-facet-wrapper">
        <h3>Department</h3>


        <ul class="islandora-solr-facet">




            <li>
                <a href="/" rel="nofollow">Biology</a> <span class="count">(2)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>


            <li>
                <a href="/" rel="nofollow">Kinesiology</a> <span class="count">(1)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>
        </ul>
    </div>


    <div class="islandora-solr-facet-wrapper">
        <h3>Version</h3>


        <ul class="islandora-solr-facet">
            <li>
                <a href="/" rel="nofollow">Version of Record</a> <span class="count">(13)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>


            <li>
                <a href="/" rel="nofollow">Accepted Manuscript</a> <span class="count">(1)</span> <span class="plusminus"><a class="plus" href="/" rel="nofollow">+</a> <a class="minus" href="/" rel="nofollow">-</a></span>
            </li>
        </ul>
    </div>


    <div class="islandora-solr-facet-wrapper">
        <h3>Date</h3>


        <div class="islandora-solr-range-slider">
            <form accept-charset="UTF-8" action="/islandora/search/?type=dismax&amp;f%5B%5D=RELS_EXT_isMemberOfCollection_uri_mt%3Acitations%20OR%20RELS_EXT_isMemberOfCollection_uri_mt%3Atheses%20OR%20RELS_EXT_isMemberOfCollection_uri_mt%3Aprojects" id="islandora-solr-range-slider-form-0" method="post" name="islandora-solr-range-slider-form-0">
                <div>
                    <input name="range_slider_term_0" type="hidden" value="mods_originInfo_dateIssued_mdt">

                    <div class="range-slider-fromto" id="range-slider-fromto-0">
                        <span class="range-slider-from">2005</span> - <span class="range-slider-to">2017</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
