//@format
//search

.search-block-form {
  .container-inline {
    @extend .align-center;
    @extend .input-group;
  }
  .form-text {
    @extend .input-group-field;
    width: 20rem;
  }
  .form-actions {
    @extend .input-group-button;
  }
  .form-submit {
    @extend .button;
  }
}

.showcase-top {
  width: rem-calc(320);
  transition: all 1s ease-out;

  @include breakpoint(large) {
    width: rem-calc(540);
  }
  margin: auto;
  margin-top: $global-margin * 4;
  margin-bottom: $global-margin * 4;
  //font-size:rem-calc(60);
  .logo {
    margin-bottom: $global-margin;
  }
  @include breakpoint(medium) {
    padding: 0;
  }
}

.showcase-bottom {
  text-align: center;
  @include show-for(large);
  color: white;
  background: rgba(118, 118, 118, 0.7);
  width: 100%;
  padding: 20px 0;
  .button-group {
    margin-bottom: 0;
  }
  margin-bottom: $global-margin * 4;
}
.main-menu {
  a {
    @extend .button;
    margin: 1px;
  }
}
