//@format
.top-bar__wrapper,
.l-header {
  background: $topbar-background;
}

header .top-bar {
  position: relative;
}
header h1 {
  margin: 0;
  //display:none;
  font-size: rem-calc(28);
  margin-right: $global-margin;
  line-height: 1.4;
  display: flex;
  align-items: center;
  //font-family: $pn-thin;
  //font-family: $pn-regular;
  //font-family: $pn-semi-Bold;
  //font-family: $pn-bold;
  //font-family: $pn-black;
  a {
    .cbu {
      color: $udm-blue;
    }
    .scholar {
      color: $yellow;
    }
  }
}

.logo-color {
  &-one {
    //color: $stfx-taupe;
    color: $logo-color-one;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-family: $roboto-cond;
    //font-weight: bold;
    text-transform: none !important;
  }
  &-two {
    color: $logo-color-two;
    //color: $white;
    font-family: $myriad-cond;
    font-family: $roboto-cond;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.showcase-top .logo-color-two {
  font-size: rem-calc(50);
}
//front page logo

.large-logo {
  display: block;
  width: $logo-width-front;
  margin-right: $global-margin;
  background: #fff;
  padding: $global-padding/4 $global-padding/2;
  border-radius: 4px;
}
//front page
.front {
  .top-bar h1 {
    //margin-left: calc(#{$logo-width-front} + #{$global-margin});
  }
}
//interior pages

//.top-bar .main-menu,
.top-bar-left {
  @include xy-grid;
}
.top-bar .main-menu {
  @include show-for(large);
  display: flex;
  align-items: center;
}
.top-bar h1 {
  //margin-left: calc(#{$logo-width-interior} + #{$global-margin});
  //@include show-for(large);
}
//frontpage
.front {
  //dont show topbar main menu on lp
  .top-bar .main-menu {
    display: none;
  }
}

.top-bar {
  .button-group {
    margin-bottom: 0;
  }
}
.top-bar .top-bar-right {
  justify-content: flex-end;
}
.top-bar .top-bar-left,
.top-bar .top-bar-right {
  display: flex;
  flex: 1 1 auto;
}
//mobile menu
.mobile-menu__button {
  @include hamburger(#ccc, $stfx-gold, 30px, 30px, 3px, 4);
  transition: all 0.4s;
  float: right;
  margin: rem-calc(6) 0;
  @include breakpoint(large) {
    display: none;
  }
}

.main-menu.menu a {
  padding: 0.9rem 1rem 0.6rem;
}
