//@format
.top-bar__wrapper,
.l-header {
    background: $topbar-background;
}

header .top-bar {
    position: relative;
}
header h1 {
    margin: 0;
    //display:none;
    font-size: rem-calc(28);
    margin-right: $global-margin;
    line-height: 1.4;
    display: flex;
    align-items: center;
    //font-family: $pn-thin;
    //font-family: $pn-regular;
    //font-family: $pn-semi-Bold;
    //font-family: $pn-bold;
    //font-family: $pn-black;
    a {
        .cbu {
            color: $white;
        }
        .scholar {
            color: $yellow;
        }
    }
}

.logo-color {
    &-one {
        //color: $stfx-taupe;
        color: $white;
        font-family: 'EB Garamond', serif;
        //font-weight: bold;
        text-transform: none !important;
    }
    &-two {
        color: $stfx-gold;
        //color: $white;
        font-family: $myriad-cond;
        font-weight: 400;
        font-size: rem-calc(26);
        text-transform: uppercase;
    }
}
//front page logo

.large-logo {
    display: block;
    width: $logo-width-front;
    margin-right: $global-margin;
    background: $stfx-blue;
    padding: $global-padding/4 $global-padding/2;
    border-radius: 4px;
}
//front page
.front {
    .top-bar h1 {
        //margin-left: calc(#{$logo-width-front} + #{$global-margin});
    }
}
//interior pages

//.top-bar .main-menu,
.top-bar-left {
    @include xy-grid;
}
.top-bar .main-menu {
    @include show-for(large);
    display: flex;
    align-items: center;
}
.top-bar h1 {
    //margin-left: calc(#{$logo-width-interior} + #{$global-margin});
    //@include show-for(large);
}
//frontpage
.front {
    //dont show topbar main menu on lp
    .top-bar .main-menu {
        display: none;
    }
}

.top-bar {
    .button-group {
        margin-bottom: 0;
    }
}

//mobile menu
.mobile-menu__button {
    @include hamburger(#ccc, $stfx-gold, 30px, 30px, 3px, 4);
    transition: all 0.4s;
    float: right;
    margin: rem-calc(6) 0;
    @include breakpoint(large) {
        display: none;
    }
}

.main-menu.menu a {
    padding: 0.9rem 1rem 0.6rem;
}
