//@format
.top-bar__wrapper,
.l-header {
  background: $topbar-background;
}

//header .top-bar {
//position: relative;
//}
header {
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 200px;
    }
  }
}
.large-logo {
  display: block;
  width: rem-calc(240);
  margin-right: $global-margin;
  padding: $global-padding/4 $global-padding/2;
}
//interior pages

//.top-bar .main-menu,
.top-bar-left {
  @include xy-grid;
}
.top-bar .main-menu {
  @include show-for(large);
  display: flex;
  align-items: center;
}
//frontpage
.front {
  //dont show topbar main menu on lp
  .top-bar .main-menu {
    display: none;
  }
}
.top-bar {
  .button-group {
    margin-bottom: 0;
  }
}
.top-bar .top-bar-right {
  justify-content: flex-end;
}
.top-bar .top-bar-left,
.top-bar .top-bar-right {
  display: flex;
  flex: 1 1 auto;
}
//mobile menu
.mobile-menu__button {
  @include hamburger(#ccc, $stfx-gold, 30px, 30px, 3px, 4);
  transition: all 0.4s;
  float: right;
  margin: rem-calc(6) 0;
  @include breakpoint(large) {
    display: none;
  }
}

.main-menu.menu a {
  padding: 0.9rem 1rem 0.6rem;
}
